body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Remove scrollbars */
    font-family: sans-serif;
}
.banner {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("../img/circuit-board.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
}
.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 175px;
    height: auto;
    cursor: pointer;
    transition: transform 1s;

}
.logo:hover {
    transform: rotate(360deg) translateZ(0); 
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position:relative;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li #logout {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: "";
    height: 3px;
    width: 0%;
    background-color: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after {
    width: 100%;
}
.content {
    width: 100%;
    top: 60%;
    position: absolute;
    transform: translateY(-50%);
    text-align: center;
    color: white;

}
.content h1 {
    /* margin-bottom: 50px; */
    font-size: 70px;
    transition: 0.5s;
}
.content h1:hover {
    color: #009688;

}
.content p {
    /* margin: auto; */
    font-weight: 100;
    line-height: 25px;
    /* margin-bottom: 20px; */
}
.main_content {
    width: 100%;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    text-align: center;
    color: white;

}
.main_content h1 {
    /* margin-bottom: 50px; */
    font-size: 70px;
    transition: 0.5s;
}
.main_content h1:hover {
    color: #009688;

}
.main_content p {
    /* margin: auto; */
    font-weight: 100;
    line-height: 25px;
    /* margin-bottom: 20px; */
}
button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
button a{
    text-decoration: none;
    color: white;
}
.login{
    margin-top: 35px;
    margin-bottom: 10px;
}
.fpass{
    margin-bottom: 20px;
}
span{
    background: #009688;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span {
    width: 100%;
}
button:hover {
    border: none;
}
button:active{
    opacity: 0.8;
}
.footer {
    text-align: center;
    padding: 3px;
    color: white;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    position: relative;

}
footer a{
    text-decoration: none;
    color: white;
}
.box {
    position: relative;
    margin: auto;
    max-width: 500%;
    width: 380px;
    height: 420px;
    background:#1c1c1c;
    border-radius: 8px;
    overflow: hidden;
    animation: transitionIn .75s ease-in;
}
@keyframes transitionIn {

    from {
        opacity: 0;
        transform: rotateY(0deg);
    }

    to {
        opacity: 1;
        transform: rotateX(45);
    }
}
.box::before{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    /* background: linear-gradient(0deg, transparent, #45f3ff); */
    background: linear-gradient(0deg,transparent, #45f3ff,blue,red,yellow,indigo,violet);
    transform-origin: bottom right;
    animation: animate_box 6s linear infinite;
}
.box::after{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    /* background: linear-gradient(0deg, transparent, #45f3ff); */
    background: linear-gradient(0deg,transparent, #45f3ff,blue,red,yellow,indigo,violet);
    transform-origin: bottom right;
    animation: animate_box 6s linear infinite;
    animation-delay: -3s;
}
@keyframes animate_box
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.form{
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: #28292d;
    z-index: 10;
    padding: 40px 30px;
    flex-direction: column;
}
.form h2{
    color:  #009688;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
    font-weight: bold;
}
.inputBox{
    position: relative;
    width: 300px;
    margin-top: 45px;
}
.inputBox input{
    position: relative;
    width: 100%;
    padding-left: 10px;
    padding-bottom: 10px;
    background: transparent;
    border: none;
    outline: none;
    color:white;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}
.inputBox span{
    position: absolute;
    left: 0;
    padding-bottom:10px;
    font-size: 1em;
    color:white;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
    color: #009688;
    transform: translateX(-10px) translateY(-34px);
    font-size: 0.75em;
}
.inputBox i{
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background: #009688;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}
.inputBox input:valid ~ i,
.inputBox input:focus ~ i
{
    height: 44px;
}
.domain{
    position: relative;
    color: #009688;
    font-weight: bold;
    margin: auto;
    margin-bottom: 150px;
    padding: 15px 10px;
    border: 2px solid white;
    width: 600px;
    height: 350px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
}
.data_center{
    color: white;
    position: relative;
    width: 200px;
    height: 150px;
    background-color: #ccc;
    margin: 0 10px;
}  
.peripheral{
    color: white;
    position: relative;
    width: 200px;
    height: 150px;
    background-color: #ccc;
    margin: 0 10px;
}
.perimeter{
    color: white;
    position: relative;
    width: 200px;
    height: 150px;
    background-color: #ccc;
    margin: 0 10px;
}
/* Style for the text inside the box */
.text-box {
    position: relative;
    margin-top: 150px;
    /* bottom: 20px; */
    color: white;
    font-size: 13px;
    font-weight: bold;
}
a {
    color:#0ee8c0;
    text-decoration: none;
}
/* Style for the image overlay */
.image-overlay {
    position: absolute;
    /* border-radius: 50%; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#scroll_container {
    border: none;
    border-radius: 5px;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px 40px;
    overflow: hidden;
  }
  
  #scroll_text {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: scroll;
    cursor: pointer;
  }
  .banner .main_button button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    border-radius: 25px; /* Ensure this takes precedence */
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.banner .main_button button a {
    text-decoration: none;
    color: white;
}

.banner .main_button button span {
    background: #009688;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.banner .main_button button:hover span {
    width: 100%;
}

.banner .main_button button:hover {
    border: none;
}

.banner .main_button button:active {
    opacity: 0.8;
}

.col-md-3.border-right .d-flex.flex-column.align-items-center.text-center.p-3.py-5 {
    color: white; /* Change 'blue' to the color you desire */
}
