body {
    background-color: rgba(92, 53, 248, 0.439);
}
.navbar{
    background-color: rgb(55, 55, 148);
    display: flow-root;
    padding: 0;
}
/* .version {
    font-family: Arial;
    background-color: rgb(55, 55, 148);
    color: whitesmoke;
    font-size: small;
    margin-top: 34px;
    margin-left: 0px;
    float: left; */
/* } */
.header-right{
    font-family: roboto;
    overflow: hidden;
    vertical-align: top;
    transition: background-color 0.15s, color 0.15s;
    position: relative;
    margin: 20px;
    float: right;
}
.service-title {
    font-family: roboto;
    margin-left: 20px; 
    padding-left: 16px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    background-color: rgb(55, 55, 148);
    color: whitesmoke;
    float: left;

}
.search-bar {
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: none;
}
.service-request {
    background-color:rgb(10, 100, 160);
    color: white;
    font-weight: bold;
    font-size: 13px;
    border-radius: 18px;
    cursor: pointer;
    padding-left: 16px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    border: none;
    transition: background-color 0.15s, color 0.15s;
}
.service-request:hover {
    background-color: white;
    color: rgb(41, 118, 211);
}
.service-request:active {
    opacity: 0.7;
}
.service-settings {
    background-color: rgb(55, 55, 148);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    padding-left: 16px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    border: none;
    transition: background-color 0.15s, color 0.15s;
}
.service-settings:hover {
    background-color: rgb(41, 118, 211);
    color: white;
}
.service-settings:active {
    opacity: 0.7;
}
.service-profile {
    background-color:rgb(55, 55, 148);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    padding-left: 16px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    border: none;
    transition: background-color 0.15s, color 0.15s;
}
.service-profile:hover {
    background-color: rgb(41, 118, 211);
    color: white;
}
.service-profile:active {
    opacity: 0.7;
}
.service-logout {
    background-color:white;
    color: rgb(41, 118, 211);
    border-radius: 8px;
    cursor: pointer;
    padding-left: 16px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    border: none;
    transition: background-color 0.15s, color 0.15s;
}
.service-logout:hover {
    background-color: rgb(41, 118, 211);
    color: white;
}
.service-logout:active {
    opacity: 0.7;
}
main {
    font-family: roboto;
    font-size: 12px;
    display: flex;
    margin-left: 10px;
}
/* 
main .top {
    float: left;
    margin-right: 10px;
}
main .box {
    float: right;
} */
